<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service 
				name="Lab7.SyndicationServiceLibrary.WsDvrFeed"
				behaviorConfiguration="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior"
			>
				<endpoint 
					address="WsDvrFeed" 
					behaviorConfiguration="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior"
					binding="webHttpBinding" 
					contract="Lab7.SyndicationServiceLibrary.IWsDvrFeed"
				/>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:40001/SyndicationService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>