<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
		<service 
			name="Lab7.SyndicationServiceLibrary.WsDvrFeed"
			behaviorConfiguration="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior"
	    >
            <endpoint 
			    address="WsDvrFeed" 
			    behaviorConfiguration="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior"
                binding="webHttpBinding" 
			    contract="Lab7.SyndicationServiceLibrary.IWsDvrFeed" 
		    />
		    <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8733/Design_Time_Addresses/Lab7.SyndicationServiceLibrary/" />
                </baseAddresses>
            </host>
        </service>
    </services>
    <behaviors>
		<serviceBehaviors>
			<behavior name="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior" >
				<serviceMetadata httpGetEnabled="true" />
			</behavior>
		</serviceBehaviors>
        <endpointBehaviors>
            <behavior name="Lab7.SyndicationServiceLibrary.WsDvrFeedBehavior">
                <webHttp/>
            </behavior>
        </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
